    :root{
        --custom-color-primary:orange;
        --custom-color-secondary: aqua;
        --custom-color-third:red;
        --custom-color-fourth: blueviolet;
        --custom-color-fifth:darkgrey;
        --custom-color-sixth:darkcyan;
        --custom-color-seventh:pink;
    }

    body{
        background-color: var(--custom-color-primary);
    }
    h4{
        color: var(--custom-color-third);
    }
    .DnD{
        background-color:var(--custom-color-secondary);
    }
    .razze{
        background-color: var(--custom-color-fourth);
    }
    .armi{
        background-color: var(--custom-color-fifth)
    }
    .magie{
        background-color: var(--custom-color-seventh);
    }
    .classi{
        background-color: var(--custom-color-sixth);
    }